body {
    color: #444;
    padding: 30px;
}
img {
    width: 500px;
}
.card {
    width: cover;
    padding: 50px;
}
.jumbotron{
    background-image: url("/media/wyprawy.jpeg");
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: SaddleBrown;
}
