    {% extends 'main.html' %}

    {% block title %} Wyprawy {% endblock %}

    {% block body %}

    <style>
    </style>

    <div class="jumbotron">
        <div class="container">
            <h1 class="lead">Zdjęcia z moich wypraw w polskie góry</h1>
            <p class="display-5">{% if user.is_authenticated %}
              Hello {{user.username}}<br></p>

                <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </div>

     <p>Wyjazdy:</p>
        <a href="{% url 'nowy_wyjazd' %}"><button type="button" class="btn btn-secondary">Dodaj wyjazd</button></a>
    <br>
    <br>

    {% for trip in trips reversed %}
        <div class="card">
                <img src="/media/{{trip.photo}}">
            <div class="card-body">
                <h2> {{trip}} </h2>
                <p> {{trip.description}} </p>
                <a href="{% url 'edytuj_wyjazd' trip.id %}"><i class="fas fa-2x fa-edit"></i></a>
                <a href="{% url 'usun_wyjazd' trip.id %}"><i class="fas fa-2x fa-trash-alt"></i></a>
            </div>

        </div>
    <br>
    {% endfor %}
    {% endblock %}