    {% extends 'main.html' %}

    {% block title %} Wyprawy {% endblock %}

    {% block body %}

    <style>
    </style>

    <div class="jumbotron">
        <div class="container">
            <h2 class="display-5"><b>Zdjęcia z wypraw w polskie góry</b></h2>
            <p class="display-5">{% if user.is_authenticated %}
              Hello {{user.username}}<br></p>

                <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                    <div class="email">
                        <a href="mailto:mieczyslawdomanski@wp.pl"><i class="fas fa-3x fa-envelope-square"></i></a>
                        <a href="https://www.instagram.com/domanskimietek/"><i class="fab fa-3x fa-instagram"></i></a>
                    </div>
            {% else %}
                <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
                    <div class="email">
                        <a href="mailto:mieczyslawdomanski@wp.pl"><i class="fas fa-3x fa-envelope-square"></i></a>
                        <a href="https://www.instagram.com/domanskimietek/"><i class="fab fa-3x fa-instagram"></i></a>
                    </div>
            {% endif %}
        </div>
    </div>


       <div class="card-body">
        <p class="display-5">{% if user.is_authenticated %}
           <a href="{% url 'nowy_wyjazd' %}"><button type="button" class="btn btn-secondary">Dodaj wyjazd</button></a>
            {% else %}
              <br>
            {% endif %}
        </div>

    <br>

    {% for trip in trips reversed %}
        <div class="card">
            <h2> {{trip}} ({{trip.year}}) </h2>
            <p> {{trip.description}} </p>

    <div class="gallery">
                <div class="row">
                  <figure class="col">
                    <a href="/media/{{trip.photo1}}"
                      data-lightbox="mygallery" data-title="{{trip.mountains}}">
                      <img alt="picture" src="/media/{{trip.photo1}}"/>
                    </a>
                  </figure>

                  <figure class="col">
                    <a href="/media/{{trip.photo2}}"
                      data-lightbox="mygallery" data-title="{{trip.mountains}}">
                      <img alt="picture" src="/media/{{trip.photo2}}"/>
                    </a>
                  </figure>

                    <figure class="col">
                    <a href="/media/{{trip.photo3}}"
                      data-lightbox="mygallery" data-title="{{trip.mountains}}">
                      <img alt="picture" src="/media/{{trip.photo3}}"/>
                    </a>
                  </figure>
                </div>

                <div class="row">
                  <figure class="col">
                    <a href="/media/{{trip.photo4}}"
                      data-lightbox="mygallery" data-title="{{trip.mountains}}">
                      <img alt="picture" src="/media/{{trip.photo4}}"/>
                    </a>
                  </figure>

                  <figure class="col">
                    <a href="/media/{{trip.photo5}}"
                      data-lightbox="mygallery" data-title="{{trip.mountains}}">
                      <img alt="picture" src="/media/{{trip.photo5}}"/>
                    </a>
                  </figure>

                    <figure class="col">
                    <a href="/media/{{trip.photo6}}"
                      data-lightbox="mygallery" data-title="{{trip.mountains}}">
                      <img alt="picture" src="/media/{{trip.photo6}}"/>
                    </a>
                    </figure>
                </div>
    </div>


            <div class="card-body">
                <p class="display-5">{% if user.is_authenticated %}
                     <a href="{% url 'edytuj_wyjazd' trip.id %}"><i class="fas fa-2x fa-edit"></i></a>
                     <a href="{% url 'usun_wyjazd' trip.id %}"><i class="fas fa-2x fa-trash-alt"></i></a>
                {% else %}
                    <br>
                {% endif %}
            </div>
        </div>
    <br>
    {% endfor %}
    {% endblock %}


