    {% extends 'main.html' %}

    {% block title %} Wyprawy {% endblock %}

    {% block body %}

    <style>
    </style>

    <div class="jumbotron">
        <div class="container">
            <h2 class="display-5">Zdjęcia z moich wypraw w polskie góry</h2>
            <p class="display-5">{% if user.is_authenticated %}
              Hello {{user.username}}<br></p>

                <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </div>

        <a href="{% url 'nowy_wyjazd' %}"><button type="button" class="btn btn-secondary">Dodaj wyjazd</button></a>
    <br>
    <br>

    {% for trip in trips reversed %}
        <div class="card">
            <h2> {{trip}} </h2>
            <p> {{trip.description}} </p>

    <div class="gallery">
                <div class="row">
                  <figure class="col">
                    <a href="/media/{{trip.photo1}}"
                      data-lightbox="mygallery" data-title="{{trip.mountains}}">
                      <img alt="picture" src="/media/{{trip.photo1}}"/>
                    </a>
                  </figure>

                  <figure class="col">
                    <a href="/media/{{trip.photo2}}"
                      data-lightbox="mygallery" data-title="{{trip.mountains}}">
                      <img alt="picture" src="/media/{{trip.photo2}}"/>
                    </a>
                  </figure>

                    <figure class="col">
                    <a href="/media/{{trip.photo3}}"
                      data-lightbox="mygallery" data-title="{{trip.mountains}}">
                      <img alt="picture" src="/media/{{trip.photo3}}"/>
                    </a>
                  </figure>
                </div>

                <div class="row">
                  <figure class="col">
                    <a href="/media/{{trip.photo4}}"
                      data-lightbox="mygallery" data-title="{{trip.mountains}}">
                      <img alt="picture" src="/media/{{trip.photo4}}"/>
                    </a>
                  </figure>

                  <figure class="col">
                    <a href="/media/{{trip.photo5}}"
                      data-lightbox="mygallery" data-title="{{trip.mountains}}">
                      <img alt="picture" src="/media/{{trip.photo5}}"/>
                    </a>
                  </figure>

                    <figure class="col">
                    <a href="/media/{{trip.photo6}}"
                      data-lightbox="mygallery" data-title="{{trip.mountains}}">
                      <img alt="picture" src="/media/{{trip.photo6}}"/>
                    </a>
                    </figure>
                </div>
    </div>

            <div class="card-body">
                <a href="{% url 'edytuj_wyjazd' trip.id %}"><i class="fas fa-2x fa-edit"></i></a>
                <a href="{% url 'usun_wyjazd' trip.id %}"><i class="fas fa-2x fa-trash-alt"></i></a>
            </div>

        </div>
    {% endfor %}
    {% endblock %}